div.header{
    background-image:  url('/img/bannercerto.png');
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
}

div.header .logo{
    font-size: 1.8rem;
    color: #baa643;
    text-decoration: none;
}

div.header .nav{
    margin-top: 20px;
}

div.header div.nav a{
    color: #f0f8ff;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 4px;
    transition: background-color 0.2s;
}
div.header div.nav a:hover {
    background-color: rgb(0, 0, 0);
}