*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: rgb(0, 0, 0);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #cbcdce;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.social-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


.whatsapp-btn {
    background-color: #25D366;
}

.whatsapp-btn:hover {
    background-color: #1ebe5d;
}


.instagram-btn {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}
.email-btn {
  background-color: #0072c6;
}
.email-btn:hover {
  background-color: #005fa3;
}
